In [126]:
import pandas as pd

In [131]:
games = pd.read_csv('csv_db/sparse_games_db.csv', index_col="id")

In [132]:
games.head()

,time_class,time_control,rules,white_rating,black_rating,white_user,black_user,result,ECO,moves
id,,,,,,,,,,
340381275,daily,1/432000,chess,1519,1370,-Donovan-,Steelman420,1-0,B20,"['e2e4', 'c7c5', 'f1c4', 'd7d6', 'g1f3', 'a7a6..."
351272929,daily,1/432000,chess,1399,1499,Steelman420,-Donovan-,1-0,D10,"['d2d4', 'd7d5', 'c2c4', 'c7c6', 'd1d2', 'g8f6..."
21703210749,blitz,300,chess,1494,1611,SUPERLIFTER,0-alexiskenyi-0,0-1,D10,"['d2d4', 'd7d5', 'c2c4', 'c7c6', 'b1c3', 'g8f6..."
22312204895,blitz,300,chess,1621,1581,Brule70,0-alexiskenyi-0,1-0,D00,"['d2d4', 'd7d5', 'e2e3', 'b8c6', 'c2c4', 'e7e6..."
22521061205,blitz,300,chess,1617,1668,0-alexiskenyi-0,melcorodel,1-0,B30,"['e2e4', 'c7c5', 'g1f3', 'b8c6', 'f1b5', 'e7e6..."

In [133]:
games["time_class"].value_counts()

rapid     46109
blitz     32815
bullet    13070
daily      9333
Name: time_class, dtype: int64

In [135]:
low = 1000
high = 1200
games[(games["white_rating"] > low) & (games["white_rating"] < high)]["ECO"].value_counts()

D00    1162
A00    1062
B01    1015
C20    1006
A40     892
       ...
E24       1
E72       1
C69       1
B16       1
A27       1
Name: ECO, Length: 226, dtype: int64